page-home {

  .marge {
    margin-top: -20px;
  }

  .energized {
    height: 140px;
  }
  .assertive {
    height: 140px;
    margin-top: -20px;
  }
  .positive {
    height: 140px;
    margin-top: -20px;
  }
  .calm {
    height: 140px;
    margin-top: -20px;
  }

  .imagesize {
    height: 1px;
    width: 1px;
  }
  .center {
    margin-left: 20px;
  }

  .search-wrapper-light {
    height:200px ;
    }

  

}

