<ion-header>
    <ion-navbar color="assertive">
        <ion-title>DETAIL</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="bookmark(item)" *ngIf="!alreadybooked">
                <ion-icon name="bookmark"></ion-icon>
            </button>
            <button ion-button icon-only (click)="DeleteBookmarked(item)" *ngIf="alreadybooked">
                <ion-icon name="bookmark" style="color:red"></ion-icon>
            </button>
            <button ion-button icon-only (click)="shareContent()">
                <ion-icon name="share"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-item>
            <h3 style="white-space: normal;" class="articledetail" ><b>{{item.title}}</b></h3>
            <p>{{item.publishedAt}}</p>
        </ion-item>
        <img src="{{item.urlToImage}}">
        <ion-card-content>
            <p>{{item.description}}</p>
        </ion-card-content>
        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small (click)="openArticle(item.url)">
                    <ion-icon name="open"></ion-icon>
                    <div>Read More ...</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
